/* 
Autor: Sara Galeano
Date: 05.02.24
Project: Dribbble replica

INDICE
00 - CSS RESET
01 - NAVBAR
02 - JUMBO
03 - xx
04 - 
*/

/* 00 CSS RESET */
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
}

h1, .h2, .jumbo-ct1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}






@media screen and (max-width: 1400px) {
    .reverse {
        flex-direction: row-reverse;
        width: auto;
    }    

}

@media screen and (max-width: 1060px) {
    .form-search {
        display: none;

    }
    
}

@media screen and (min-width: 1060px) {
    .search-icon {
        display: none;

    }
    
}

@media screen and (min-width: 950px) {
    .hamburger {
        display: none;
        position: relative;  
    }

}

@media screen and (max-width: 950px) {
    .navbar {
        padding-left: 24px;
        padding-right: 24px;
    }
    .menu-sx {
        display: none;
    }
    .login {
         display: none;
    }
    .reverse {
        position: absolute;
        margin-left: 20px;
        
    }
}
.jumbo-ct1 {
    animation: backgroundColor;
    animation-duration: 32s;
    animation-iteration-count: infinite;
    animation-direction: linear;

}

@keyframes backgroundColor {
    0% {
        background-color: #ffda79;
    }
    25% {
        background-color: #ffabe7;
    }
    50% {
        background-color: #d2bcf3;
    }
    75% {
        background-color: #edf3d8;
    }
    100% {
        background-color: #ffda79;
    }
}